@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	margin: 0;
	padding: 0;
}

.clouds{
  background-repeat: no-repeat;
  width:100%;
  height:400px;
  z-index: 1;
}

.flex-container{
		/*center columns*/
		display:flex;
		align-items: center;
		justify-content: center;
		
		/*put the clock in them middle of the screen*/
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		
		font-family: do hyeon;
		letter-spacing: 7px;
		z-index: 10;
		font-size: 30px;
}

#dateDisplay{
		font-family: open sans;
		letter-spacing:3px;
		
		position: absolute;
		top:58%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		
		font-size: 10px;
}

	.bird {
	display: none;
	}
	
	#morningclouds{
		background:url("../images/morning.png") 0 0 transparent;
		height: 400px;
	}
	
	#dayclouds{
		background:url("../images/day.png") 0 0 transparent;
		height: 400px;
		
	}
	
	#eveningclouds{
		background:url("../images/evening.png") 0 0 transparent;
		height: 400px;
		
	}
	
	#nightclouds{
		background:url("../images/night.png") 0 0 transparent;
		height: 400px;
	}
	
	/*#morningclouds{
		background:url("../images/smallmorning.png") 0 0 transparent;
		height: 180px;
	}

	#dayclouds{
		background:url("../images/smallday.png") 0 0 transparent;
		height: 180px;
	}
	
	#eveningclouds{
		background:url("../images/smallevening.png") 0 0 transparent;
		height: 180px;
	}
	
	#nightclouds{
		background:url("../images/smallnight.png") 0 0 transparent;
		height: 180px;
	}*/

@media screen and (min-width: 360px) {
	.flex-container{
		font-size: 55px;
	}
	
	#dateDisplay{
		font-size: 25px;
		font-weight: 100;
	}
	
	.bird {
	background:url('../images/happyfly.png');
	/*Cut the picture in half*/
	display: inline;
	width:168.5px;
	height:190px;
	position:absolute;
	z-index: 2;
}
}

@media screen and (min-width: 768px) {
	.flex-container{
		font-size: 75px;
	}
	
	#dateDisplay{
		font-size: 20px;
		top: 55%;
	}
	
}

@media screen and (min-width: 1366px) {
	.flex-container{
		font-size: 100px;
	}
	
	#dateDisplay{
		font-size: 25px;
		top: 57%;
	}
}
}